.container {
    display: flex;
    justify-content: center;
    margin: 0 25% 0 25%;
}
@media (min-width: 400px), screen and (orientation: portrait) {
    .container {
        margin: 0 7% 0 7%;
    }
}
/*
* keeps the article content from overflowing the margins
* (especially when very wide, code snippets are being converted into <pre> blocks in Markdown)
*/
.container article {
    max-width: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em 1em;

    font-weight: 400;
    font-family: 'Palanquin Dark', sans-serif;
}

.header > div {
    margin: 0;

    display: flex;
}

.navbarLinks {
    font-family: 'Palanquin', sans-serif;
}
.navbarLinks > a {
    margin: 1em;
    color: black;
}



.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 8rem;
    height: 8rem;
}

.backToHome {
    margin: 3rem 0 0;
}
  