.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
}

.categoriesSection {
  font-size: 1rem;
  margin-right: 10em;
  margin-top: 3em;
}

.postsSection {
  min-width: 35rem;
}
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .borderCircle {
    border-radius: 9999px;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 1.25rem;
  }
  
  .lightText {
    color: #999;
  }
  


  .horizontal {
    display: flex;
    justify-content: space-between;
  }

  .horizontal > section {
    padding: 1em;
  }
  .horizontal ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }


.centeredButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media (min-width: 400px) and (max-width: 699px), 
screen and (orientation: portrait) {
  .heading2Xl {
      font-size: 1.8rem;
  }

  .postsSection {
    min-width: 5rem;
    font-size: 1.1em;
  }

  .categoriesSection {
    display: none;
  }
}

/* If screen is 700px or wider */
@media (min-width: 700px) and (max-width: 1299px),
    screen and (orientation: portrait) {
      .heading2Xl {
        font-size: 1.8rem;
    }
  
    .postsSection {
      min-width: 5rem;
      font-size: 1.1em;
    }
  
    .categoriesSection {
      margin-right: 5em;
      font-size: 1em;
      margin-top: 0;
    }
}